body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f7f7f7;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 32px;
    color: #007bff;
}

h2 {
    font-size: 24px;
    color: #007bff;
}

h3 {
    font-size: 20px;
    color: #007bff;
}

p {
    font-size: 16px;
}

.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 20px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-logo {
    color: #fff;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar-links a,
.navbar-links a:visited { 
    color: #007bff;
    text-decoration: none;
    padding: 8px 16px;
    border: 2px solid #007bff;
    border-radius: 20px;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    margin-right: 10px;
}

.navbar-links a:hover {
    background-color: #007bff;
    border-color: #fff;
    color: #fff;
}

.navbar-toggle {
    display: none;
}

.navbar-toggle-label {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.container {
    padding: 20px;
}

.player-image-box {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #dfdcdc;
}

.main {
    margin: 20px;
}

.navbar-links,
.right-hand-bar {
    box-sizing: border-box;
}

@media (max-width: 890px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        background-color: #007bff;
        padding: 10px 20px;
        width: 100%;
    }

    .navbar-toggle-label {
        display: block;
    }

    .navbar-toggle:checked ~ .navbar-links {
        display: flex;
    }
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    font-size: 18px;
}

.input-container input[type="text"] {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 20px;
}

.input-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.input-container button:hover {
    background-color: #0056b3;
}

#stats-container {
    margin-top: 20px;
}

.stats-section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.stats-section h2 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

.stats-item {
    margin-bottom: 10px;
}

.stats-item strong {
    font-weight: bold;
    margin-right: 5px;
}

.error {
    color: red;
    font-weight: bold;
}

a:visited {
    color: #007bff;
}

.stats-section a:visited { 
    color: #007bff !important; 
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-auto-rows: auto;
    grid-gap: 20px;
}

@media only screen and (min-width: 1200px) {
    .stats-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.input-container button {
    margin-top: 10px; 
}

.mobile .stats-grid {
    grid-template-columns: repeat(1, 1fr) !important;
}

.misc-stats-section {
    grid-column: 1 / -1; 
}

.misc-stats-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-auto-rows: auto;
    grid-gap: 10px;
    padding-top: 10px;
}

.misc-stats-grid .stats-item {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .misc-stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    .misc-stats-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1400px) {
    .misc-stats-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.stats-item {
    background-color: #ccc;
    border-radius: 5px;
    padding: 15px;
}

.stats-item p {
    margin: 0;
    text-align: left;
}

.spinner {
    width: 80px;
    height: 80px;
    position: relative;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #007bff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    animation-delay: -1s;
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}